




<div class="container " >
    <div class="text-end p-3"><a routerLink="">Logout</a></div>
      <div class="card mb-3"   >
        <div class="row g-0">
          <div class="col-lg-5">
            <img src="{{singlestudent.studentimg}}" class="img-fluid rounded-start"  height="100%" alt="...">
          </div>
          <div class="col-lg-7">
            <div class="card-body">
              <h1 class="card-title text-info">{{singlestudent.fullname}}</h1>
         
                  <h5 class="card-text mt-2">CLASS : {{singlestudent.cls}}</h5>
                  <h5 class="card-text mt-1">DIVISION : {{singlestudent.div}}</h5>
                  <h5 class="card-text mt-1">TUTOR NAME : {{singlestudent.tutor}}</h5>
                   <h5 class="card-text mt-1">MARK ATTAINED :{{singlestudent.mark}}</h5> 
                  <h5 class="card-text mt-1">ATTENTANCE : {{singlestudent.attentance}}</h5>
                  <h5 class="card-text mt-1">EMAIL : {{singlestudent.email}}</h5>
                  <h5 class="card-text mt-1">PHONE : {{singlestudent.mobile}}</h5>
                  <h5 class="card-text  mt-1">ADDRESS : {{singlestudent.address}}</h5>
                  <h5 class="card-text mt-1 ">BLOODGROUP : {{singlestudent.bloodgroup}}</h5> 
            
    
    
                
          </div>
        </div>
      </div>
      
    </div>
    



    
